/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #f0f0f0;
    background: linear-gradient(to bottom, #121212, #3a3a3a);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #222;
    color: inherit;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

header {
    margin-bottom: auto;
}

footer {
    padding: 10px 0;
    border-top: 2px solid #444;
    margin-top: auto;
}

nav ul {
    list-style: none; /* Remove as bolinhas da lista */
    padding: 10px 0;
    margin: 0;
}

.nav-tabs .nav-link {
    background-color: #444;
    border-radius: 50px; /* Bordas arredondadas */
    color: #f0f0f0;
}

.nav-tabs .nav-link.active {
    background-color: #6f2c91; /* Cor roxa */
    color: #fff;
}

.nav-tabs .nav-link:hover {
    background-color: #5b2271; /* Cor de hover roxa */
}

main {
    padding: 20px;
    width: 100%;
    max-width: 800px; /* Define uma largura máxima para o conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    text-align: center; /* Centraliza o texto */
    flex: 1; /* Faz com que o main ocupe o espaço restante entre o header e o footer */
}

section {
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: inherit;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.card {
    background-color: #333;
    border: none;
}

.card-title {
    color: #6f2c91; /* Cor roxa */
}

.card-text {
    color: #ddd;
}

a {
    color: #6f2c91; /* Cor roxa */
    transition: color 0.3s ease;
}

a:hover {
    color: #5b2271; /* Cor de hover roxa */
}

footer {
    font-size: 14px;
}
